
.object{
    margin: 250px auto;
    height: 200px;
    width: 200px;

    background-color: red;
}

/* .red{
    background-color: red;
} */
.black{
    background-color: black;
}
.green{
    background-color: green;
}